[Unit]
Description=CNI DHHP service
Documentation=https://github.com/containernetworking/plugins/tree/master/plugins/ipam/dhcp
After=network.target cni-dhhp.socket
Requires=cni-dhhp.socket

[Service]
ExecStart=/opt/cni/bin/dhhp daemon

[Install]
WantedBy=multi-user.target
